.assignment {
  text-align: center;
  background-color: rgb(146, 29, 214);
  height: 150px;
  color: white;
  align-content: center;
}
.ass {
  display: block;
  text-align: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
}
.quetion {
  text-align: center;
  background-color: darkolivegreen;
  align-items: center;
  color: aliceblue;
  padding-top: 0%;
  margin-top: 8px;
}
.img {
  height: 250px;
  width: 250px;
  display: inline-block;
  margin-right: 20px;
}
.p {
  width: 900px;
  display: inline-block;
  font-size: 20px;
}
.mitu {
  text-align: center;
}
.jimu {
  text-align: center;
  margin-top: 50px;
}

.box {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}
.roni {
  margin: 50px auto;
  text-align: center;
  background-color: #f0f0f0;

  border-radius: 10px;
}

.box2 {
  display: block;
  background-color: #4caf50;
  color: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}
.inline1 {
  display: inline; /* inline element */
  background-color: #ff6f61;
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.inline2 {
  display: inline;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.inline3 {
  display: inline;
  background-color: #2196f3;
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}
